# Generated gitignore for Python, C++, KiCad, PyCharm, and VS Code

### uv Package Manager ###
.python-version
.venv/
uv.lock

### C++ ###
*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so

### Python ###
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.spec
*$py.class
*~
__pycache__/
.cache
.coverage
.coverage.*
.dmypy.json
.env
.eggs/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pyre/
.pytest_cache/
.Python
.pybuilder/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv/
.webassets-cache
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env/
env.bak/
ENV/
htmlcov/
instance/
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
poetry.toml
profile_default/
ipython_config.py
pyrightconfig.json
sdist/
share/python-wheels/
target/
var/
venv/
venv.bak/
wheels/
__pypackages__/
/site

### Visual Studio Code ###
.history/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
*.vsix

### PyCharm ###
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/httpRequests
.idea/**/libraries
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/$CACHE_FILE$
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/replstate.xml
.idea_modules/
*.iws
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### KiCad ###
*.000
*.bak
*.bck
*.csv
*.dsn
*.kicad_pcb-bak
*.kicad_prl
*.kicad_sch-bak
*.net
*.sch-bak
*.ses
*.tmp
*.tsv
*.xml
*-autosave-*
*-backups
*-save.kicad_pcb
*-save.pro
bom/
fp-info-cache
out/
rescue-backup/

### Documentation ###
documentation/site/
site/
